/* Brödtext (all vanlig text på hela sidan) */
body {
  font-family: "Inter", sans-serif;
  background-color: #fff9f1;
}

/* Rubriker (H1, H2, H3 osv. får Lexend Mega) */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lexend Mega", sans-serif;
  font-weight: 700; /* Gör rubrikerna feta, använd 400 om ni vill ha dem tunnare */
}

.logotyp-ruta {
  font-family: "Lexend Mega", sans-serif;
  font-weight: 700;
  font-size: 30px;
  width: 250px;
  border: 15px solid #f68442;
  margin: 40px;
  color: white;
  background-color: #f68442;
  text-align: center;
}

.chart-container {
  width: 600px;
  margin: 50px auto;
  background-color: #101726;
  border-radius: 8px;
}

.ul-navbar {
  list-style-type: none;
  display: flex;
  grid-template-columns: 3, 1fr;
  float: right;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff9f1;
  font-size: 19px;
  font-weight: 900;
}

.li-navbar {
  display: inline;
  font-family: "Lexend Mega", sans-serif;
}

.a-navbar {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  width: auto;
}

a:hover::after {
  content: "";
  display: block;
  width: 50px;
  border-bottom: 1px solid;
  margin: 0 auto;
}
